html, body {
  color: #681;
	background: #fff;
	min-width: 700px;
}
#detail-image{
  width: 250px;
  height: 200px;
}

#timeline-image{
  width: 70px;
  height: 70px;
  border-radius: 200px;
  border: black solid 1px;
}

/* ---- Timeline ---- */
ol {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
  width: 4000px;
	background: #31708F;
}
ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  border-radius: 10px;
	border: 10px solid #31708F;
}
ol::before {
	left: -5px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
  border-radius: 3px;
}

.all_info{
  overflow: scroll;
  height: 300px;

}

.tl-div {
  overflow: scroll;
  width: 99%;
  height: 350px;
}

#item-highlight{
  display: flex;
  flex-direction: column;
}

/* ---- Timeline elements ---- */
li {
  padding-top: 30px;
  padding-left: 30px;
  list-style: none;
  align-content:space-between;
	position: relative;
	float: left;
	width: 150px;
	font: bold 14px arial;
  height: 20px;
}

/* ---- Hover effects ---- */
li:hover {
	cursor: pointer;
  color: #48A4D2;
}
