body{
  background-color: #85BB65;
  color: #3E3E3C;
  font-family: Helvetica;
}

h1{
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

/* ---- containers ---- */

#detail-info-div{
  width: 500px;
  padding-left: 50px;
}

#image-info-div{
width: 300px;
padding-left: 50px;
padding-right: 50px;
}

#description-info-div{
width: 1000px;
padding-right: 50px;
padding-left: 50px;
font-size: 20px;
}

#detail-image{
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

#item-detail-view{
  display: flex;
  flex-direction: row;
}

#timeline-image{
  width: 70px;
  height: 70px;
  border-radius: 200px;
  border: #3E3E3C solid 3px;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* --- Map --- */

#item-map-container{
  height: 400px;
  border: black solid 2px;
}

p {
  height: 35px;
}

ul{
  text-align: center;
  width: 150px;
  font-size: 20px;
}

#full-list {
  display: flex;
}

#item-list-view{
  height: 200px;
}

.tl-div {
  overflow: scroll;
  width: 99%;
  height: 350px;
}

.all_info{
  overflow: scroll;
  height: 300px;
}

/* ---- Buttons ---- */
button{
  width: 150px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  background-color: #E8E9C9;
  color: #3E3E3C;
  margin: 50px 25px 50px 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ---- Timeline elements ---- */
li {
  padding-top: 20px;
  list-style: none;
  align-content:space-between;
	position: relative;
	width: 150px;
}

/* ---- Hover effects ---- */
ul:hover {
	cursor: pointer;
  color: #E8E9C9;
}

button:hover {
	cursor: pointer;
  background-color: #22D857;
}


/* ---- Timeline ---- */
ol {
	position: relative;
	margin: 50px;
	height: 4px;
  width: 3500px;
	background: #3E3E3C;
}

ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -8px;
	width: 0;
	height: 0;
  border-radius: 10px;
	border: 10px solid #3E3E3C;
}
ol::before {
	left: -5px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #3E3E3C;
  border-radius: 3px;
}
